.content {
    max-width:1000px;
    margin:0px auto;
   /* box-shadow:0px 0px 5px 0px black;*/
}

.header-main {
    overflow: hidden;
    padding:10px;
}

.main-heading {
    margin: 4rem;
    text-align: center;
}

/* .header-main h3 {
    max-width:900px;
    /* position:absolute; */
    /* top:40px; */
/* } */

.header-main nav {
    margin:10px;
    text-align: center;
    word-spacing: 5rem;
}

a:hover {
    color:#304025;
    font-weight: bolder;
    
}


